{# reference: https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/slack.go -#}
{%- set
  emojis = {
    'info' : '✅',
    'error' : '🔴',
  }
-%}
{{ emojis[event.severity] }} *{{ event.involvedObject.name }}.{{ event.involvedObject.namespace }}*
{{ event.message }}

{% for k,v in event.metadata.items() -%}
*{{ k }}*
{{ v }}

{% endfor -%}
